<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>patientName</key>
		<string>张先生</string>
		<key>symptom</key>
		<string>高血压</string>
		<key>time</key>
		<string>2016/06/19</string>
		<key>doctorName</key>
		<string>马医生</string>
		<key>role</key>
		<string>主任医生</string>
		<key>hospital</key>
		<string>上海长征医院</string>
		<key>state</key>
		<string>审核中</string>
	</dict>
	<dict>
		<key>patientName</key>
		<string>张先生</string>
		<key>symptom</key>
		<string>高血压</string>
		<key>time</key>
		<string>2016/06/19</string>
		<key>doctorName</key>
		<string>马医生</string>
		<key>role</key>
		<string>主任医生</string>
		<key>hospital</key>
		<string>上海长征医院</string>
		<key>state</key>
		<string>审核中</string>
	</dict>
	<dict>
		<key>patientName</key>
		<string>张先生</string>
		<key>symptom</key>
		<string>高血压</string>
		<key>time</key>
		<string>2016/06/19</string>
		<key>doctorName</key>
		<string>马医生</string>
		<key>role</key>
		<string>主任医生</string>
		<key>hospital</key>
		<string>上海长征医院</string>
		<key>state</key>
		<string>审核中</string>
	</dict>
	<dict>
		<key>patientName</key>
		<string>张先生</string>
		<key>symptom</key>
		<string>高血压</string>
		<key>time</key>
		<string>2016/06/19</string>
		<key>doctorName</key>
		<string>马医生</string>
		<key>role</key>
		<string>主任医生</string>
		<key>hospital</key>
		<string>上海长征医院</string>
		<key>state</key>
		<string>审核中</string>
	</dict>
	<dict>
		<key>patientName</key>
		<string>张先生</string>
		<key>symptom</key>
		<string>高血压</string>
		<key>time</key>
		<string>2016/06/19</string>
		<key>doctorName</key>
		<string>马医生</string>
		<key>role</key>
		<string>主任医生</string>
		<key>hospital</key>
		<string>上海长征医院</string>
		<key>state</key>
		<string>审核中</string>
	</dict>
	<dict>
		<key>patientName</key>
		<string>张先生</string>
		<key>symptom</key>
		<string>高血压</string>
		<key>time</key>
		<string>2016/06/19</string>
		<key>doctorName</key>
		<string>马医生</string>
		<key>role</key>
		<string>主任医生</string>
		<key>hospital</key>
		<string>上海长征医院</string>
		<key>state</key>
		<string>审核中</string>
	</dict>
	<dict>
		<key>patientName</key>
		<string>张先生</string>
		<key>symptom</key>
		<string>高血压</string>
		<key>time</key>
		<string>2016/06/19</string>
		<key>doctorName</key>
		<string>马医生</string>
		<key>role</key>
		<string>主任医生</string>
		<key>hospital</key>
		<string>上海长征医院</string>
		<key>state</key>
		<string>审核中</string>
	</dict>
	<dict>
		<key>patientName</key>
		<string>张先生</string>
		<key>symptom</key>
		<string>高血压</string>
		<key>time</key>
		<string>2016/06/19</string>
		<key>doctorName</key>
		<string>马医生</string>
		<key>role</key>
		<string>主任医生</string>
		<key>hospital</key>
		<string>上海长征医院</string>
		<key>state</key>
		<string>审核中</string>
	</dict>
	<dict>
		<key>patientName</key>
		<string>张先生</string>
		<key>symptom</key>
		<string>高血压</string>
		<key>time</key>
		<string>2016/06/19</string>
		<key>doctorName</key>
		<string>马医生</string>
		<key>role</key>
		<string>主任医生</string>
		<key>hospital</key>
		<string>上海长征医院</string>
		<key>state</key>
		<string>审核中</string>
	</dict>
	<dict>
		<key>patientName</key>
		<string>张先生</string>
		<key>symptom</key>
		<string>高血压</string>
		<key>time</key>
		<string>2016/06/19</string>
		<key>doctorName</key>
		<string>马医生</string>
		<key>role</key>
		<string>主任医生</string>
		<key>hospital</key>
		<string>上海长征医院</string>
		<key>state</key>
		<string>审核中</string>
	</dict>
	<dict>
		<key>patientName</key>
		<string>张先生</string>
		<key>symptom</key>
		<string>高血压</string>
		<key>time</key>
		<string>2016/06/19</string>
		<key>doctorName</key>
		<string>马医生</string>
		<key>role</key>
		<string>主任医生</string>
		<key>hospital</key>
		<string>上海长征医院</string>
		<key>state</key>
		<string>审核中</string>
	</dict>
</array>
</plist>
